* {
    box-sizing: border-box;
}

.panes__outer {
    display: flex;
    flex-wrap: wrap;
}

.pane__input,
.pane__output {
    flex: 1 0 50%;
    font-family: "DejaVu Sans Mono", "Droid Sans Mono", Consolas, monospace;
}

.pane__heading {
    display: block;
    height: 2rem;
    margin: 0;
}

.pane__text {
    display: block;
    width: 100%;
    height: calc(100vh - 2rem);
    margin: 0;
}

@media (max-width: 767px) {
    .panes__outer {
        flex-direction: column;
    }

    .pane__text {
        height: calc(50vh - 2rem);
    }
}
