<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Convert CommonMark Markdown into html more suitable for the Adobe Forums.</title>

    <% include ../partials/main-css.ejs %>

    <% include ../partials/main-js.ejs %>
</head>
<body>




<div class="example-html">
    <p> <i> Behold!</i> It counts up and down as you click the buttons </p>

    <button id="up"> Up </button>
    <button id="down"> Down </button>
    <span id="counter"> 0 </span>
</div>

</body>
</html>