<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Convert CommonMark Markdown into html more suitable for the Adobe
        Forums.</title>

    <% include ../partials/main-css.ejs %>

    <% include ../partials/main-js_DEV.ejs %>
</head>
<body>


<label>
    Markdown In: <br>
    <textarea name="md-in" id="md-in" cols="30" rows="10">[wut](http://www.google.com/)</textarea>
</label>

<hr>

Html Out: <br>
<pre><code id="html-out"></code></pre>


</body>
</html>