<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Convert CommonMark Markdown into html more suitable for the Adobe
        Forums.</title>

    <% include ../partials/main-css.ejs %>

    <% include ../partials/main-js_DEV.ejs %>
</head>
<body>


<div id="app"></div>

</body>
</html>